<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Crud Js NodeJs</title>

  <!-- Tailwind CSS Link -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Fontawesome Link -->
  <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

</head>

<body class="bg-gray-400">
  <nav class="flex px-24 py-5 bg-green-500 text-white">
    <div class="w-1/2 px-12 mr-auto ">
      <a href="/" class="text-2xl font-bold p-4 hover:border-b-2 hover:border-gray-300">My Aplication </a>
    </div>

    <ul class="w-1/2 px-16 pt-1 ml-auto flex justify-end ">
      <li class="nav-item px-4 ">
        <a href="/tasks" class="nav-link font-semibold hover:bg-green-700 p-4 rounded-md">My tasks</a>
      </li> 
      <li class="nav-item px-4 ">
        <a href="/create" class="nav-link font-semibold p-4 rounded-md border-2 border-white hover:text-green-700 hover:bg-white">Add task</a>
      </li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>